body {
  margin: 0;
  padding: 0;
  background-color: #D8D8D8;
  width: 100%;
  height: 100px;
}

.header {
background-color: #444444;
width: 100%;
height: 20vh;
}

.main-content{
  margin: 0 auto;
  background-color: #FEFEFE;
  width: 80%;
  height: 75vh;

}

.footer {
background-color: #222222;
width: 80%;
height: 10vh;
margin: 0 auto;
}
